<!-- <p-toast></p-toast> -->
<div class="top-body">
  <p-dialog
    [modal]="true"
    [(visible)]="isShow"
    [draggable]="false"
    (onHide)="onClose()"
    [header]="titlePopUp"
    [style]="{ width: '800px', height: 'auto' }"
  >
    <div class="mt-2 mb-0">
      <h4>Thông tin User</h4>
      <form [formGroup]="formData" (ngSubmit)="handleSubmit()">
        <div class="col-12 md:col-12 grid">
          <div class="col-3">
            <span>Tên sách<span style="color: red">*</span></span>
          </div>
          <div class="col-9 md:pr-0">
            <input pInputText type="text" class="w-full" formControlName="name"/>
            <div style="margin-top: 5px">
              <div *ngIf="formData.get('name')?.errors?.['required'] || formData.get('name')?.errors?.['invalidname']"
                style="color: red"
              >
                {{ errorMsg["name"] }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-12 grid">
          <div class="col-3">
            <span>Tác giả<span style="color: red">*</span></span>
          </div>
          <div class="col-9 md:pr-0">
            <input pInputText type="text" class="w-full" formControlName="author"/>
            <div style="margin-top: 5px">
              <div *ngIf="formData.get('author')?.errors?.['required'] || formData.get('author')?.errors?.['invalidauthor']"
                style="color: red"
              >
                {{ errorMsg["author"] }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-12 grid">
          <div class="col-3">
            <span>Loại sách<span style="color: red">*</span></span>
          </div>
          <div class="col-9 md:pr-0">
            <input pInputText type="text" class="w-full" formControlName="category"/>
            <div style="margin-top: 5px">
              <div *ngIf="formData.get('category')?.errors?.['required'] || formData.get('category')?.errors?.['invalidcategory']"
                style="color: red"
              >
                {{ errorMsg["category"] }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-12 grid">
          <div class="col-3">
            <span>Giá<span style="color: red">*</span></span>
          </div>
          <div class="col-9 md:pr-0">
            <input pInputText type="text" class="w-full" formControlName="price"/>
            <div style="margin-top: 5px">
              <div *ngIf="formData.get('price')?.errors?.['required'] || formData.get('price')?.errors?.['invalidprice']"
                style="color: red"
              >
                {{ errorMsg["price"] }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-12 grid">
              <div class="col-3">
                <span>Trạng thái<span style="color: red">*</span></span>
              </div>
              <div class="col-9 md:pr-0">
                <p-dropdown
                [options]="roleOptions"
                placeholder="Trạng thái"
                optionLabel="label"
                optionValue="inventoryStatus"
                formControlName="inventoryStatus"
                append="body"
                >
                </p-dropdown>
                <div style="margin-top: 5px">
                  <div *ngIf="formData.get('inventoryStatus')?.errors?.['required'] || formData.get('inventoryStatus')?.errors?.['invalidinventoryStatus']"
                    style="color: red"
                  >
                    {{ errorMsg["inventoryStatus"] }}
                  </div>
                </div>
              </div>
            </div>
        <div class="col-12 md:col-12 grid">
          <div class="col-3">
            <span>Số lượng<span style="color: red">*</span></span>
          </div>
          <div class="col-9 md:pr-0">
            <input pInputText type="text" class="w-full" formControlName="quantity"/>
            <div style="margin-top: 5px">
              <div *ngIf="formData.get('quantity')?.errors?.['required'] || formData.get('quantity')?.errors?.['invalidquantity']"
                style="color: red"
              >
                {{ errorMsg["quantity"] }}
              </div>
            </div>
          </div>
        </div>
        <div
          class="grid align-items-center justify-content-center sm:justify-content-end col-12"
        >
          <button
            style="
              background: silver;
              width: 136px !important;
              color: #fff;
              height: 36px !important;
            "
            pButton
            type="button"
            class="w-1 mr-2 text-center p-button-secondary"
            label="Hủy"
            (click)="onClose()"
          ></button>
          <button
            style="width: 136px !important; height: 36px !important"
            pButton
            type="submit"
            class="w-1 p-button-info text-center"
            label="Lưu"
            *ngIf="actionType === 'add' || actionType === 'edit'"
          ></button>
        </div>
      </form>
    </div>
  </p-dialog>
</div>
